# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore any virtual environment directories
venv/
env/
ENV/
.venv/

# Ignore log files
*.log

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore Git files
.git
.gitignore

.github

# Ignore IDE/editor specific files
.vscode/
*.swp
*.swo

# Ignore sensitive configuration files
.env

*.md
*.example
