# This email will receive notifications if you have won
NOTIFICATION_EMAIL_ADDRESS=examplepersonal@email.com

# Pickmypostcode login details
YOUR_POSTCODE=XXX XXX # PLEASE KEEP THE SPACE WHEN ENTERING YOUR POSTCODE
PMP_EMAIL=account@email.com

# Gmail SMTP account used to send emails from
EMAIL_ADDRESS=your@gmail.com
EMAIL_PASSWORD=gmailpasswordexample